<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Plano de Estudos - Programação e Banco de Dados</title>
</head>
<body>
    <h1>Plano de Estudos - Desvendando o Mundo da Programação e Banco de Dados</h1>

    <h2>Objetivo:</h2>
    <p>Dominar as ferramentas essenciais para construir aplicações web robustas e bancos de dados eficientes.</p>

    <h2>Roteiro de Aprendizagem:</h2>
    <h3>1. Mergulhando no Universo do Banco de Dados:</h3>
        <h4>SQLite:</h4>
        <ul>
            <li>Gerenciar estudos com simplicidade e praticidade.</li>
            <li>Contabilizar dias de estudo com precisão e organização.</li>
        </ul>
        <h4>Consultas SQL:</h4>
        <ul>
            <li>Criar consultas personalizadas para buscar informações.</li>
            <li>Exibir livros por autor, gênero e muito mais!</li>
        </ul>
        <h4>CRUD:</h4>
        <ul>
            <li>Dominar operações CRUD (Criar, Ler, Atualizar e Deletar).</li>
            <li>Manipular tabela de "verbos HTTP" com total controle.</li>
        </ul>

    <h3>2. Django: Desvendando os Segredos do Desenvolvimento Web:</h3>
        <h4>Tutorial Django:</h4>
        <ul>
            <li>Criar aplicações web dinâmicas e escaláveis.</li>
            <li>Iniciar e estruturar projetos Django com maestria.</li>
        </ul>

    <h3>3. Leitura Complementar:</h3>
        <h4>MVC:</h4>
        <p>Aprofundar conhecimentos sobre o padrão MVC (Modelo-Visão-Controlador).</p>
        <h4>MVT:</h4>
        <p>Explorar o padrão MVT (Modelo-Visão-Template) do Django.</p>
        <h4>Exemplo Django:</h4>
        <p>Observar como os conceitos aprendidos se aplicam em um cenário real.</p>

    <h3>4. Desbravando o Front-End com HTML:</h3>
        <p>Criar seis páginas HTML essenciais para gerenciar seus livros:</p>
        <ul>
            <li>actualizar_libro.html</li>
            <li>consultar_libros.html</li>
            <li>crear_autor.html</li>
            <li>crear_libro.html</li>
            <li>eliminar_libro.html</li>
            <li>listar_libros.html</li>
        </ul>

    <h2>Lembre-se:</h2>
    <ul>
        <li>Este plano de estudos é um guia flexível.</li>
        <li>Utilize ferramentas online e tutoriais.</li>
        <li>Pratique consistentemente.</li>
        <li>Divirta-se durante a jornada de aprendizado!</li>
    </ul>

    <h2>Recursos Adicionais:</h2>
    <ul>
        <li><a href="https://docs.djangoproject.com/en/5.0/">Documentação oficial do Django</a></li>
        <li><a href="https://docs.djangoproject.com/en/5.0/intro/">Tutoriais Django</a></li>
        <li><a href="https://www.w3schools.com/html/">W3Schools HTML</a></li>
    </ul>

    <h2>Acredite no seu potencial, domine as ferramentas e construa projetos incríveis!</h2>
</body>
</html>
